<div class="row form-group">
    <div class="input-group col-md-12 col-lg-12 input-group-sm">
       <label>Code :</label>
       <input type="text" name="code" nbInput fullWidth placeholder="code" [(ngModel)]="demandeconge.employerInfosRhDemTypeId" disabled />
    </div>
  </div>
    <div class="row form-group">
       <div class="input-group col-md-6 col-lg-6 input-group-sm">
          <label class="text-label">Date Début :</label>
          <input type="date" name="date début" nbInput fullWidth placeholder="date début" [(ngModel)]="demandeconge.employerCongesDemDateDeb" disabled />
       </div>
       <div class="row form-group">
        <div class="input-group col-md-6 col-lg-6 input-group-sm">
           <label class="text-label">Date Fin :</label>
           <input type="date" name="date fin" nbInput fullWidth placeholder="date fin" [(ngModel)]="demandeconge.employerCongesDemDateFin" disabled />
        </div>
        <div class="input-group col-md-6 col-lg-6 input-group-sm">
           <label class="text-label"> Nbr Jours :</label>
           <input type="number" name="description" nbInput fullWidth placeholder="nbr jours" [(ngModel)]="demandeconge.employerCongesDemNbrJrs" disabled/>
        </div>
       <div class="input-group col-md-6 col-lg-6 input-group-sm">
          <label class="text-label">Motif :</label>
          <input type="text" name="description" nbInput fullWidth placeholder="description" [(ngModel)]="demandeconge.employerCongesDemMotif" disabled/>
       </div>
       <div class="input-group col-md-6 col-lg-6 input-group-sm">
        <label class="text-label">Delégation :</label>
        <input type="text" name="description" nbInput fullWidth placeholder="delégation" [(ngModel)]="demandeconge.employerCongesDemTachesDele" disabled/>
     </div>
       
    </div>
    <div class="row form-group">
      <div class="input-group col-md-12 col-lg-12 input-group-sm">
        <label>Status: </label>
        <input type="text" name="status" nbInput fullWidth placeholder="status" [(ngModel)]="demandeconge.employerCongesDemStatut" disabled/>
      </div>
    </div>
    <div class="row form-group">
       <div class="input-group col-md-12 col-lg-12 input-group-sm">
          <label>Date de Demande :</label>
          <input type="date" name="Quantite" nbInput fullWidth placeholder="date" [(ngModel)]="demandeconge.employerCongesDemDate" disabled/>
       </div>
    </div>
    


