<div class="row form-group">
    <div class="input-group col-md-12 col-lg-12 input-group-sm">
       <label>Username :</label>
       <input type="text" name="username" nbInput fullWidth placeholder="username" [(ngModel)]="utilisateur.username" disabled />
    </div>
  </div>
    <div class="row form-group">
       <div class="input-group col-md-6 col-lg-6 input-group-sm">
          <label class="text-label">email :</label>
          <input type="text" name="email" nbInput fullWidth placeholder="email" [(ngModel)]="utilisateur.email" disabled />
       </div>
       <div class="input-group col-md-6 col-lg-6 input-group-sm">
          <label class="text-label">telephone :</label>
          <input type="text" name="telephone" nbInput fullWidth placeholder="telephone" [(ngModel)]="utilisateur.telephone" disabled/>
       </div>
    </div>
    <div class="row form-group">
      <div class="input-group col-md-12 col-lg-12 input-group-sm">
        <label>adresse : </label>
        <input type="date" name="adresse" nbInput fullWidth placeholder="adresse"
        [(ngModel)]="utilisateur.adresse" disabled/>
      </div>
    </div>
    
    

