<div class="container row">
  <div class="col-xs-12 col-sm-6">
    <div class="card"
      style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../../../assets/images/consulting.jpg');">
      <div class="card-category">Consultations</div>
      <div class="card-description">
        <button nbButton status="success">Consultation fiche de paie</button>
      </div>
      <a class="card-link" href="pages/demandeconge"></a>
    </div>
  </div>

  <div class="container row">
    <div class="col-xs-12 col-sm-6">
      <div class="card"
        style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../../../assets/images/consulting.jpg');">
        <div class="card-category">Consultations</div>
        <div class="card-description">
          <button nbButton status="success">Consultations</button>
        </div>
        <a class="card-link" href="pages/demandeconge"></a>
      </div>
    </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card"
      style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../../../assets/images/log.webp');">
      <div class="card-category">Login</div>
      <div class="card-description">
        <button nbButton status="primary">LOGIN</button>
      </div>
      <a class="card-link" href="pages/login"></a>
    </div>
  </div>

</div>