<div class="row form-group">
    <div class="input-group col-md-12 col-lg-12 input-group-sm">
       <label>Id :</label>
       <input type="number" name="code" nbInput fullWidth placeholder="code" 
       [(ngModel)]="demandeattestationtravail.employerAttesTravailDemId" />
    </div>
  </div>
    <div class="row form-group">
       <div class="input-group col-md-6 col-lg-6 input-group-sm">
          <label class="text-label">Date Début :</label>
          <input type="date" data-date-format="dd MM yyyy" value="08-09-2022" name="date debut" 
          nbInput fullWidth placeholder="date début" [(ngModel)]="demandeattestationtravail.employerAttesTravailDemDate" />
       </div>
       
    </div>
    <div class="row form-group">
       <div class="input-group col-md-12 col-lg-12 input-group-sm">
          <label>Status :</label>
          <input type="text" name="Quantite" nbInput fullWidth placeholder="motif" [(ngModel)]="demandeattestationtravail.employerAttesTravailStatus" />
       </div>
    </div>
    
    
